@font-face {
    font-family: 'TeXGyrePagella';
    src: url('./texgyrepagella-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyrePagella';
    src: url('./texgyrepagella-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyrePagella';
    src: url('./texgyrepagella-italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'TeXGyrePagella';
    src: url('./texgyrepagella-bolditalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
